LIB7DLG DIALOG 21, 21, 340, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Диалог из ресурса в DLL"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Sans Serif"
{
   CONTROL "0", 1, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 10, 50, 12 
   CONTROL "0", 2, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 30, 50, 12 
   CONTROL "0", 3, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 50, 50, 12 
   CONTROL "0", 4, SCROLLBAR, SBS_HORZ | WS_CHILD | WS_VISIBLE, 70, 10, 255, 12 
   CONTROL "0", 5, SCROLLBAR, SBS_HORZ | WS_CHILD | WS_VISIBLE, 70, 30, 255, 12 
   CONTROL "0", 6, SCROLLBAR, SBS_HORZ | WS_CHILD | WS_VISIBLE, 70, 50, 255, 12 
   CONTROL "Set Color", 10, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 70, 50, 20 
}
