

mydlg DIALOG 0, 0, 260, 260
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Dialog From DLL"
FONT 6, "MS Sans Serif"
{ 
 GROUPBOX "Условия", 0, 1, 1, 150 , 34, BS_GROUPBOX | WS_GROUP
 AUTORADIOBUTTON "Транслировать автоматически", 1, 10, 10, 130, 10,  BS_AUTORADIOBUTTON | WS_TABSTOP
 AUTORADIOBUTTON "Транслировть по нажатию ",2, 10, 20, 130, 10
 DEFPUSHBUTTON "Translate", 3, 30, 50, 50, 15,  BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP
 EDITTEXT 4, 10, 80, 240, 80, ES_WANTRETURN | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 5, 10, 170, 240, 80, ES_READONLY | ES_WANTRETURN | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL 
}
